/* General */ 
html {
    overflow-x: hidden; 
  } 
  
body { 
    width: 100%; 
    background-color: #d9c6b0; 
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-image: url(https://github.com/JuntaLaw/kadai03/blob/main/img/bgimage03.png?raw=true);
    background-size: auto;
    background-position: center 0;
    background-repeat: no-repeat;;
} 

h1 {
    width: 35%;
    font-size: xx-large;
    color: #fff; 
    font-family: serif; 
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5);
    background-color: rgba(000, 000, 000, 0.4);
    border-radius: 5%;
    margin: 10px auto; 
    padding: 30px;
}

.btn{ 
    border: none;
    display: block;
    width: 50%; 
    margin: 20px auto; 
    padding: 10px 0;
    background-color: rgba(000, 000, 000, 0.7);
    color: #d9c6b0; 
    font-size: large; 
    font-family: serif; 
    font-weight: bold;
    text-align: center; 
    letter-spacing: 5px;
    text-transform: uppercase;
    filter: drop-shadow(5px 5px 5px #400);
  } 

  .btn:hover { 
    filter: drop-shadow(10px 10px 10px #f2a007);
  }
  
  .btn:focus {
    outline: 0;
    background-color: #40200E; 
  } 


.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 90px;
}

h2, dl {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(000, 000, 000, 0.4);
    color: #d9c6b0; 
    font-size: large; 
    font-family: serif; 
    font-weight: bold;
    line-height: 2;
    text-align: center; 
} 

a {
  color: #40200E
}

a:visited{
  color : #40200E;
}

a:visited{
  color : #40200E; 
}

ul {
  background-color: rgba(255, 255, 255, 0.7);
  width: 50%;
  margin: 30px auto 20px;
  font-size: large;
  font-family: serif;
  line-height: 1.6;
}

li {
  color: #40200E;
}

li:hover {
  color: #40200E; 
  background-color: #F2A007;
}

li:focus {
  color: #40200E; 
  outline: 0;
  background-color: #40200E; 
} 